.App{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
section{
    height: 100vh;
    width: 100%;
    background-color: darkmagenta;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
main{
    height: auto;
    width: 300px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 50px;
    padding: 10px;
  }
  

.Cards{
    padding: 20px;
    margin: 5px;
  }

img{
    border-radius: 30px;
  }
button{
    background-color: black;
    color: white;
    height: 20px;
    border-radius: 10px;
    width: 100px;
  }

rt{
    font-size: 12px;
    padding-left: 20px;
  } 

ruby  p{
    font-size: 15px;
    color: darkgray;
    text-align: center;
    padding-left: 20px;
  }
   